{% extends "layout.html" %}
{% block title %}Begin Rally{% endblock %}
{% block head %}{% endblock %}

{% block js_templates %}
<script type="text/javascript">
    $(document).on('ready', function() {
        App.user = {{ user|jsonify_js|safe }};
    });
</script>
{% raw %}
<script id="template-meetings-list" type="text/template">
    {{#each meetings}}
    <div class="media">
        <div class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
            {{description}}
        </div>
    </div>
    {{/each}}
</script>
{% endraw %}
{% endblock %}

{% block header %}
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="#">RallyCaster</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav pull-right">
                {% if user %}
                <li>
                    <a id="user-profile-drop" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img src="https://graph.facebook.com/{{ user.oauth_profile_id }}/picture" width="20px" height="20px" /> {{ user.first_name }}
                        <b class="caret"></b>
                    </a>
                    <ul id="user-profile-dropdown" class="dropdown-menu" role="menu" aria-labelledby="user-profile-drop">
                        <li role="presentation">
                            <a id="user-profile-logout" role="menuitem" href="#">Logout</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li><a href="#">Unknown</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="login-modal-container"></div>
    <div class="row">
        <div class="span10">
            <div class="row">
                <div id="meetings-container" class="span6">
                    <div id="open-meeting-modal" class="btn btn-primary">Add new meeting</div>
                    {% include 'meeting_add.html' %}
                    <div id="meetings-list" style="padding-top: 20px"></div>
                </div>
                <div class="span4">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
        <div class="span2">
            <div id="meetings-user-helping"></div>
        </div>
    </div>
{% endblock %}
