{% extends "layout.html" %}
{% block title %}Begin Rally{% endblock %}
{% block head %}{% endblock %}

{% block js_templates %}
<script type="text/javascript">
    $(document).on('ready', function() {
        // Setup console.log for IE8
        if (typeof console === "undefined" || typeof console.log === "undefined") {
            console.log = function() {};
        }

        // Setup default ajax handlers
        $.ajaxSetup({
            error: function(xhr, status, error) {
                console.log(error);

                // If web services returned a 401, redirect to the login page.
                if (xhr.status === 401) {
                    App.router.goLogin();
                }
            }.bind(this)
        });

        App.user = {{ user|jsonify_js|safe }};
        App.router = new App.routers.AppRouter();

        if (App.user === null) {
            App.router.goLogin();
        } else {
            App.router.goBegin();
        }

        Backbone.history.start();
    });

</script>
{% raw %}
<script id="template-meetings-list" type="text/template">
    {{#each meetings}}
    <div class="media">
        <div class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{name}}</h4>
            {{description}}
        </div>
    </div>
    {{/each}}
</script>
{% endraw %}

<script id="template-login-chooser-modal" type="text/template">
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">
                    <a href="/login/facebook">
                        <img src="static/images/facebook.gif" style="height: 200px" />
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</script>
{% endblock %}

{% include 'meeting_add.html' %}

{% block header %}
    <div class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RallyCaster</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="dropdown">
                        <a id="user-profile-drop" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <img src="https://graph.facebook.com/{{ user.oauth_profile_id }}/picture" width="20px" height="20px" /> {{ user.first_name }}
                            <b class="caret"></b>
                        </a>
                        <ul id="user-profile-dropdown" class="dropdown-menu" role="menu" aria-labelledby="user-profile-drop">
                            <li role="presentation">
                                <a id="user-profile-logout" role="menuitem" href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#">Unknown</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
{% endblock %}

{% block body %}
    <div id="login-modal-container"></div>
    <div id="meeting-add-modal-container"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div id="meetings-container" class="col-md-8">
                        <div id="open-meeting-modal" class="btn btn-primary">Add new meeting</div>
                        <div id="meetings-list" style="padding-top: 20px"></div>
                    </div>
                    <div class="col-md-4">
                        <div id="map_canvas"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="meetings-user-helping"></div>
            </div>
        </div>
    </div>
{% endblock %}
