<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/handlebars/handlebars.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/underscore/underscore-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/backbone/backbone-min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/moment/moment.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/css/bootstrap-theme.min.css') }}" type="text/css" />
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/bootstrap-calendar/js/language/template.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bower_components/bootstrap-calendar/css/calendar.min.css') }}" type="text/css" />
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bower_components/bootstrap-calendar/js/calendar.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/datepicker/js/bootstrap-datepicker.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/models/Meeting.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/collections/Meetings.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/views/LoginView.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/views/UserMenuView.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/views/MeetingListView.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/views/MeetingContainer.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/routers/AppRouter.js') }}"></script>

        {% block js_templates %}{% endblock %}
    </head>
<body>
    <div id="page">
        <div id="header">{% block header %}{% endblock %}</div>
        <div id="body">{% block body %}{% endblock %}</div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </div>
</body>
</html>
