{% extends "layout.html" %}
{% block title %}Login to Rally{% endblock %}
{% block head %}{% endblock %}

{% block body %}
    <div id="login-modal-container">
        <div class="modal show">
            <div class="modal-header">
                <h3>Login</h3>
            </div>
            <div class="modal-body">
                <a href="/login/facebook">
                    <img src="static/images/facebook.gif" style="height: 200px" />
                </a>
            </div>
        </div>
    </div>
{% endblock %}
